<mat-toolbar color="primary">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>RegistrApp Votaciones</span>
</mat-toolbar>
<!-- <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>registrapp_frontend</span>
  </mat-toolbar> -->