html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 6em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    color: rgb(69, 69, 221);
    text-align: center;
}

h1.title{
    font-size: 2em;
    color: rgb(69, 69, 221);
}

.container{
    max-width: 1400px;
    margin: auto;
}

button{
    font-size: 1em;
    padding: 6px 10px;
    border-radius: 8px;
}
  
th{font-size: 2em;
    color: white;
    background-color: rgb(69, 69, 221);
}

td{font-size: 1.5em;}

.mat-column-_id {
    width: 32px;
    border-right: 1.5px solid black;
    padding: 10px 20px;
    text-align: center;
}
  
.mat-column-lema {
    width: 32px;
    border-right: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}
  
.mat-column-name {
    width: 32px;
    border-right: 1px solid black;
    padding: 10px 20px;
    text-align: center;
}
  