<mat-card class="create-user-card">
  <mat-card-title>Crear Usuario</mat-card-title>
  <mat-card-content>
    <form [formGroup]="createUserForm" (ngSubmit)="createUserSubmit()">

      <mat-form-field class="create-user-form-field" appearance="standard">
        <mat-label>Correo Electrónico</mat-label>
        <input formControlName="email" name="email" matInput placeholder="ejemplo@mail.com">
        <mat-icon fontSet="material-icons-outlined" matSuffix>mail</mat-icon>
        <mat-hint>Ingrese el correo de registro</mat-hint>

        <mat-error *ngIf="isInvalidField('email')">
          <span *ngIf="hasError('email', 'email')">Ingrese un email válido</span>
          <span *ngIf="hasError('email', 'required')">El campo es requerido</span>
        </mat-error>

      </mat-form-field>

      <mat-form-field class="create-user-form-field" appearance="standard">
        <mat-label>Nombre Usuario</mat-label>
        <input formControlName="username" name="username" matInput placeholder="saitama123">
        <mat-icon fontSet="material-icons-outlined" matSuffix>person</mat-icon>
        <mat-hint>Ingrese el alias de usuario</mat-hint>

        <mat-error *ngIf="isInvalidField('username')">
          <span *ngIf="hasError('username', 'required')">El campo es requerido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role"  name="role">
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{role.name}}
          </mat-option>
        </mat-select>
        <mat-icon fontSet="material-icons-outlined" matSuffix (click)="toogleShowPasswordIcon()">
          badge
        </mat-icon>  
        <mat-hint>Seleccione un rol</mat-hint>

        <mat-error *ngIf="isInvalidField('role')">
          <span *ngIf="hasError('role', 'required')">El campo es requerido</span>
        </mat-error>

      </mat-form-field>

      <mat-form-field class="create-user-form-field" appearance="standard">
        <mat-label>Contraseña</mat-label>
        <input formControlName="password" name="password" matInput placeholder="Contraseña"
          [type]="showPasswordIcon === 'visibility'?'text':'password'">
        <mat-icon fontSet="material-icons-outlined" matSuffix (click)="toogleShowPasswordIcon()">{{showPasswordIcon}}
        </mat-icon>
        <mat-hint>Cree una contraseña para iniciar sesión</mat-hint>

        <mat-error *ngIf="isInvalidField('password')">
          <span *ngIf="hasError('password', 'required')">El campo es requerido</span>
          <span *ngIf="hasError('password', 'minlength')">El campo debe tener 8 o mas caracteres</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="create-user-form-field" appearance="standard">
        <mat-label>Confirmar Contraseña</mat-label>
        <input formControlName="passwordConfirm" name="passwordConfirm" matInput placeholder="Contraseña"
          [type]="showPasswordConfirmIcon === 'visibility'?'text': 'password'">
        <mat-icon fontSet="material-icons-outlined" matSuffix (click)="toogleShowPasswordConfirmIcon()">
          {{showPasswordConfirmIcon}}</mat-icon>
        <mat-hint>Repita la contraseña</mat-hint>

        <mat-error *ngIf="isInvalidField('passwordConfirm')">
          <span *ngIf="hasError('passwordConfirm', 'required')">El campo es requerido</span>
          <span *ngIf="hasError('passwordConfirm', 'minlength')">El campo debe tener 8 o mas caracteres</span>
        </mat-error>
      </mat-form-field>

      <button class="create-user-button" type="submit" mat-raised-button color="accent">Crear Usuario</button>

    </form>
  </mat-card-content>
</mat-card>
<div>
  <mat-form-field appearance="standard">
    <mat-label>Filtrar Usuarios</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="filtro cuaqlquier campo" #input>
    <mat-icon fontSet="material-icons-outlined" matSuffix>search</mat-icon>
  </mat-form-field>

  <table class="table-container" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Email">
      <th class="table-cell" mat-header-cell *matHeaderCellDef> Email </th>
      <td class="table-cell" mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombre Usuario">
      <th class="table-cell" mat-header-cell *matHeaderCellDef> Nombre Usuario </th>
      <td class="table-cell" mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="Rol">
      <th class="table-cell" mat-header-cell *matHeaderCellDef> Rol </th>
      <td class="table-cell" mat-cell *matCellDef="let element"> {{element.role.name}} </td>
    </ng-container>

    <ng-container matColumnDef="Editar">
      <th class="table-cell" mat-header-cell *matHeaderCellDef> Editar </th>
      <td class="table-cell" mat-cell *matCellDef="let element">
        <button mat-button (click)="startEdit(element.id)">
          <mat-icon class="edit-icon" fontSet="material-icons-outlined">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Eliminar">
      <th class="table-cell" mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td class="table-cell" mat-cell *matCellDef="let element">
        <button mat-button (click)="startDeletion(element.id)">
          <mat-icon class="delete-icon" fontSet="material-icons-outlined">delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>


</div>