<mat-card class="table-card">
    <mat-card-header class="table-header">
        <mat-card-title class="table-title">Administración de mesas</mat-card-title>
        <img class="table-logo" mat-card-image src="../../../assets/images/logo.webp" alt="Photo of a Shiba Inu">
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="table-form">

        <form [formGroup]="createTableForm" (ngSubmit)="createTableSubmit()">
            <br>
            <mat-label class="table-label">Registro de mesas</mat-label>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Numero de mesa</mat-label>
                    <input formControlName="numero" name="numero" matInput placeholder="100" table-input>
                    <mat-icon matSuffix>dialpad</mat-icon>
                    <mat-hint>Identificador de la mesa</mat-hint>
                </mat-form-field>

                <mat-error *ngIf="isInvalidField('numero')">
                    <span *ngIf="hasError('numero', 'required')">El campo es requerido</span>
                </mat-error>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Personas Registradas</mat-label>
                    <input formControlName="cantidad_inscritos" name="cantidad_inscritos" matInput placeholder="Placeholder"
                        table-input>
                    <mat-icon matSuffix>people</mat-icon>
                    <mat-hint>Personas registadas en la mesa</mat-hint>
                </mat-form-field>

                <mat-error *ngIf="isInvalidField('cantidad_inscritos')">
                    <span *ngIf="hasError('cantidad_inscritos', 'required')">El campo es requerido</span>
                </mat-error>

            </p>
            <button class="table-button-create" type="submit" mat-raised-button color="accent">Registrar</button>

            <br>
            <br>

        </form>
        <mat-divider></mat-divider>
    </mat-card-content>
    
    <mat-card-content>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Filtrar Usuarios</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="filtro cuaqlquier campo" #input>
                <mat-icon fontSet="material-icons-outlined" matSuffix>search</mat-icon>
            </mat-form-field>
            <div class="table-container mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="_id">
                        <th class="table-cell" mat-header-cell *matHeaderCellDef> ID </th>
                        <td class="table-cell" mat-cell *matCellDef="let element"> {{element._id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="number">
                        <th class="table-cell" mat-header-cell *matHeaderCellDef> Número de mesa </th>
                        <td class="table-cell" mat-cell *matCellDef="let element"> {{element.numero}} </td>
                    </ng-container>

                    <ng-container matColumnDef="numberp">
                        <th class="table-cell" mat-header-cell *matHeaderCellDef> Cantidad de inscritos </th>
                        <td class="table-cell" mat-cell *matCellDef="let element">{{element.cantidad_inscritos}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Editar">
                        <th class="table-cell" mat-header-cell *matHeaderCellDef> Editar </th>
                        <td class="table-cell" mat-cell *matCellDef="let element">
                          <button mat-icon-button (click)="startEdit(element._id)">
                            <mat-icon class="edit-icon" fontSet="material-icons-outlined">edit</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                
                      <ng-container matColumnDef="Eliminar">
                        <th class="table-cell" mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td class="table-cell" mat-cell *matCellDef="let element">
                          <button mat-icon-button (click)="startDeletion(element._id)">
                            <mat-icon class="delete-icon" fontSet="material-icons-outlined">delete</mat-icon>
                          </button>
                        </td>
                      </ng-container>
                    

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

            </div>

        </div>
    </mat-card-content>

</mat-card>