<mat-card class="table-card">
    <mat-card-header class="table-header">
        <mat-card-title class="table-title">Administración de mesas</mat-card-title>
        <img class="table-logo" mat-card-image src="../../../assets/images/logo.webp" alt="Photo of a Shiba Inu">
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="table-form">
        <form action="">
            <! ––<form [formGroup]="tableForm" (ngSubmit)="tableSubmit()">
                <br>
                <mat-label class="table-label">Registro de mesas</mat-label>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Numero de mesa</mat-label>
                        <input formControlName="nTable" name="nTable" matInput placeholder="100" table-input>
                        <mat-icon matSuffix>dialpad</mat-icon>
                        <mat-hint>Identificador de la mesa</mat-hint>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Personas Registradas</mat-label>
                        <input formControlName="nPersonTable" name="nPersonTable" matInput placeholder="Placeholder"
                            table-input>
                        <mat-icon matSuffix>people</mat-icon>
                        <mat-hint>Personas registadas en la mesa</mat-hint>
                    </mat-form-field>
                </p>
                <button class="table-button-create" type="submit" mat-raised-button color="accent">Registrar</button>

                <br>
                <br>

        </form>
        <mat-divider></mat-divider>
        <form action="">
            <br>
            <mat-label class="table-label">Buscar mesa</mat-label>
            <br>
            <mat-form-field appearance="outline">
                <mat-label>Id alfanumerico</mat-label>
                <input matInput placeholder="100" table-input>
                <mat-icon matSuffix>search</mat-icon>
                <mat-hint>Identificador de la mesa</mat-hint>
            </mat-form-field>

            <button class="table-button" type="submit" mat-raised-button color="accent">Buscar mesa</button>
            <mat-divider></mat-divider>

            <br>
            <mat-form-field appearance="outline">
                <mat-label>Numero de mesa</mat-label>
                <input matInput placeholder="100" table-input>
                <mat-icon matSuffix>dialpad</mat-icon>
                <mat-hint>Identificador de la mesa</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Personas Registradas</mat-label>
                <input matInput placeholder="Placeholder" class="table-input">
                <mat-icon matSuffix>people</mat-icon>
                <mat-hint>Personas registadas en la mesa</mat-hint>

            </mat-form-field>
            <p>
                <button class="table-button" type="submit" mat-raised-button color="accent">Editar</button>
                <button class="table-button" type="submit" mat-raised-button color="warn">Eliminar</button>
            </p>



        </form>

        <mat-divider></mat-divider>
        <br>
        <mat-label class="table-label">Total de mesas Registradas</mat-label>
        <br>
        <br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="_id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element._id}} </td>
            </ng-container>

            <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> Número de mesa </th>
                <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>

            <ng-container matColumnDef="numberp">
                <th mat-header-cell *matHeaderCellDef> Cantidad de inscritos </th>
                <td mat-cell *matCellDef="let element"> {{element.cantidad_inscritos}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>



    </mat-card-content>

</mat-card>