:host {
    display: flex;
    justify-content: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
  }
  
  .create-user-card {
    display: flex;
    flex-direction: column;
    align-self: start;
    margin: 32px;
    max-width: 400px;
  }
  
  .create-user-header {
    justify-content: center;
  }
  
  .create-user-title {
    font-weight: bold;
  }
  
  .create-user-logo {
    margin: auto;
    width: 256px;
  }
  
  .create-user-form {
    padding: 24px;
  }
  
  .create-user-form-field {
    display: flex;
  }
  
  .create-user-button {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;
  }
  
  .table-component-wrapper{
    margin:  0 0 32px 0;
  }
  
  .table-container {
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  .table-container:hover {
    overflow-y: auto;
    overflow-x: auto;
  }
  
  .table-cell {
    padding-left: 24px;
  }