<mat-card class="profile-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-card-image"></div>
    <mat-card-title>
      {{meInfo.username}}
    </mat-card-title>
    <mat-card-subtitle>{{meInfo.role.name}}</mat-card-subtitle>
  </mat-card-header>
  <img class ="background-card-image" mat-card-image src="../../../assets/images/logo.webp" alt="Photo Polombia">
  <mat-card-content class="dashboard-card-content">
    <div class="label"><strong>Email: </strong></div>
    <div>{{meInfo.email}}</div>
    <div class="label"><strong>Permisos: </strong></div>
    <div class="text">{{meInfo.role.description}}</div>
  </mat-card-content>
</mat-card>