<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" *appHasPermission="['administrator']">
        Administración Usuarios
      </a>
      <a mat-list-item href="#" *appHasPermission="['administrator', 'jury']">
        Administración Mesas
      </a>
      <a mat-list-item href="#" *appHasPermission="['administrator', 'jury', 'cityzen']">
        Reportes
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>